<nav class="flex items-center justify-between px-10 py-5 border-b bg-teal-50 shadow-xl">
    <div>
        <h1 class="text-2xl font-bold">Blog</h1>
    </div>
    <div class="flex items-center justify-center gap-10">
        <a href="/">Home</a>
        <a href="/create">Create Blog</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </div>
    <div class="flex items-center justify-center gap-5">
        <a class="px-3 py-1 border rounded bg-green-600 text-white" href="/login">Login</a>
        <a class="px-3 py-1 border rounded bg-blue-600 text-white" href="/register">Register</a>
    </div>
</nav>