<%- include("./partials/header") %>
<%- include("./partials/nav") %>
  <div class=" flex flex-col items-center justify-center gap-10 mt-10">

    <h1 class="text-2xl font-bold border-b border-black">Home</h1>
    <p class="w-[60%]">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius explicabo sint id, pariatur eveniet dolorem, eos architecto quidem consequatur atque ducimus error. Sapiente necessitatibus quia voluptates eius beatae labore! Natus?</p>
    <button class="px-3 py-1 border rounded bg-green-600 text-white">Explore</button>
  </div>
<%- include("./partials/footer") %>