<%- include("./partials/header") %>
    <%- include("./partials/nav") %>

        <div class="w-[100%] flex flex-col items-center justify-center mt-10 pb-10">
            <div >
                <h1 class="text-2xl font-bold border-2xl-black">Register New User</h1>
            </div>
            <div class="w-[60%] bg-teal-50 rounded-xl shadow-xl border p-5 flex items-center justify-center mt-10">
                <div class="w-[50%]">
                    <img class="w-[100%]" src="/images/regiter.png" alt="">
                </div>

                <form class="w-[40%] p-5 flex flex-col gap-5">
                    <div class="flex flex-col gap-1">
                        <label>Full Name</label>
                        <input class="border-b border-gray-400 bg-teal-50 p-2 outline-0" type="text" name="name" placeholder="abc">
                    </div>
                    <div class="flex flex-col gap-1">
                        <label>Username</label>
                        <input class="border-b border-gray-400 bg-teal-50 p-2 outline-0" type="text" name="username" placeholder="abc123">
                    </div>
                    <div class="flex flex-col gap-1">
                        <label>Email</label>
                        <input class="border-b border-gray-400 bg-teal-50 p-2 outline-0" type="email" name="email" placeholder="abc@gmail.com">
                    </div>
                    <div class="flex flex-col gap-1">
                        <label>Password</label>
                        <input class="border-b border-gray-400 bg-teal-50 p-2 outline-0" type="Password" name="password" placeholder="********">
                    </div>
                      
                    <button class="mt-5 bg-blue-500 py-2 rounded text-white font-semibold hover:bg-blue-600">Submit</button>

                    <p>Alrady register - <a class="text-blue-600 hover:text-blue-700" href="/login">Login now</a></p>
                </form>
            </div>
        </div>

        <%- include("./partials/footer") %>